.container {
  margin: auto;
  width: 60%;
  background-color: blueviolet;
  color: white;
  padding: 1px 5px 15px 5px;
}

label {
  padding: 10px;
  display: inline-block;
  width: 20%;
}

p {
  display: inline-block;
}

.gender {
  width: 40px;
}

.hobby {
  width: 6%;
}

.course {
  width: 5%;
}

.btn {
  margin: auto;
  width: 20%;
}
