.container {
  width: 50%;
  margin: auto;
  font-family: sans-serif;
}

.navbar {
  background-color: #b6d9ec;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px 10px;
}

.content {
  background-color: #c479fa;
  color: white;
  position: relative;
}

.dropdown {
  display: inline-block;
}

a:hover {
  color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b6d9ec;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-align: left;
  padding: 10px 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.image {
  display: inline-block;
  margin: 10px 0 0 10px;
  width: 30%;
}

.text {
  display: inline-block;
  width: 65%;
  text-align: justify;
  position: absolute;
  top: 10px;
  right: 15px;
}

.text-2 {
  margin: 20px;
  padding-bottom: 50px;
  text-align: justify;
}
