* {
  margin: 0;
  border: 0;
}

.container {
  width: 85%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
}

.left-head {
  display: inline-block;
  width: 40%;
}

.right-head {
  display: inline-block;
  width: 59.5%;
  text-align: right;
  position: relative;
  bottom: 15px;
}

h1 {
  font-size: 65px;
  font-weight: 900;
}

.times {
  color: rgb(2, 174, 241);
}

.full-border-1 {
  border-top: 3px solid black;
}

.full-border-2 {
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.nav-bar {
  padding: 20px;
  width: 100%;
}

.icon-menu {
  position: relative;
  top: 10px;
}

.icon-search {
  position: relative;
  top: 5px;
}

.btn {
  border: 1px solid black;
  padding: 2px 7px 5px 7px;
  font-weight: 600;
}

.btn:hover {
  color: rgb(10, 175, 240);
  cursor: pointer;
}

.navbar a {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 6px;
}

a:hover {
  font-weight: 600;
  color: rgb(10, 175, 240);
}

.corona {
  color: rgb(10, 175, 240);
}

.search {
  position: relative;
  font-weight: 500;
  left: 20%;
  top: 0;
}

.top-news {
  width: 100%;
  background-color: #d0d0d0;
  margin-top: 120px;
  margin-bottom: 150px;
}

.div-1 {
  display: inline-block;
  width: 15%;
  background-color: #f3f3f3;
  padding: 10px;
  margin-right: 10px;
  height: 100%;
}

.div-2 {
  display: inline-block;
  width: 35%;
  height: 100%;
  background-color: #f3f3f3;
}

.div-3 {
  display: inline-block;
  width: 15%;
  height: 100%;
  background-color: #f3f3f3;
  padding: 10px;
}

section {
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid darkgray;
  margin-bottom: 12px;
}

.div-3 section {
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 1px solid darkgray;
  margin-bottom: 15px;
}

.s-1,
.s-2 {
  display: inline-block;
  width: 40%;
}
