* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
}

.my-form {
  padding: 10px;
}

.form-control {
  width: 50%;
  margin: 20px auto;
}

label {
  display: inline-block;
  width: 25%;
  margin-right: 50px;
  font-size: 1.1rem;
}

.form-control:last-child {
  text-align: center;
}

input[type="submit"] {
  padding: 7px 15px;
  background-color: #f4f4f4;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333333;
  color: white;
  border-radius: 10px;
  transition: 500ms ease;
}

input {
  width: 45%;
  line-height: 1.5rem;
  padding-left: 5px;
  font-size: 1.1rem;
}

select {
  width: 45%;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.form-control:nth-child(9) label {
  position: absolute;
}

.form-control:nth-child(9) textarea {
  position: relative;
  left: 155px;
  font-size: 1.1rem;
  padding: 5px;
}
