* {
  margin: 0;
}

.container {
  width: 50%;
  height: 1000px;
  margin: auto;
  border: 8px solid orange;
  padding: 20px 30px 10px 25px;
  font-family: sans-serif;
}

h3 {
  margin-bottom: 5px;
}

section {
  line-height: 1.7em;
}

.personal {
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  border-bottom: 3px solid crimson;
}

.labels {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
}

.values {
  display: inline-block;
  width: 45%;
  height: 100%;
  vertical-align: top;
}

.div-image {
  display: inline-block;
  height: 80%;
  width: 20%;
  border: 1px ridge red;
}

.image {
  width: 100%;
  height: 100%;
}

.education {
  border-bottom: 3px solid crimson;
  padding-top: 2%;
  height: 36%;
  box-sizing: border-box;
}

.values-2 {
  display: inline-block;
  width: 65%;
  height: 100%;
  vertical-align: top;
}

.values-3 {
  display: inline-block;
  width: 65%;
  height: 100%;
  vertical-align: bottom;
}

.ed-lb-1 {
  margin-bottom: 30%;
}

.ed-1 {
  display: inline-block;
  width: 30%;
}

.work-exp {
  height: 16%;
  margin-top: 2%;
  border-bottom: 3px crimson solid;
}

.org-exp {
  height: 20%;
  padding-top: 2%;
}
