.container {
  width: 50%;
  margin: auto;
}

body {
  font-family: sans-serif;
}

h1 {
  padding-top: 25px;
  text-align: center;
  width: 40%;
}

.main-heading {
  font-size: 50px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 40%;
}

.head {
  width: 90%;
  position: relative;
}

.logo {
  display: inline-block;
  width: 15%;
  background-image: linear-gradient(purple, blueviolet);
  height: 90px;
  background-image: url(../images/logo3.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
}

h2 {
  margin-top: 50px;
  text-align: center;
}

.address {
  margin-top: 30px;
  text-align: center;
}

.link {
  margin-top: 40px;
}
