.container {
  width: 80%;
  margin: auto;
}

.main-heading {
  text-align: center;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
.gareik {
  width: 30%;
  margin: auto;
}

.main-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

.lists {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 50px;
}

.list {
  display: inline-block;
  width: 30%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px #f3f3f3;
  margin: 10px;
}

li {
  font-size: larger;
  line-height: 1.4em;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
}

.footer {
  text-align: center;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
}
