* {
  margin: 0;
}

.container {
  width: 30%;
  height: 500px;
  margin: auto;
  background-color: black;
  padding: 5px;
  margin-top: 10px;
}

.a {
  position: relative;
  width: 100%;
  height: 75%;
}

.b {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.c,
.d {
  background-color: bisque;
  margin-bottom: 5px;
  height: 48.5%;
}

.e {
  display: inline-block;
  position: absolute;
  width: 74%;
  background-color: red;
  height: 98.5%;
  right: 0;
}

.f {
  height: 25%;
}

.g {
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: rgb(117, 117, 228);
}

.h {
  display: inline-block;
  width: 65%;
  height: 100%;
  background-color: blanchedalmond;
}
.i {
  display: inline-block;
  width: 8%;
  height: 100%;
}

.j {
  margin-bottom: 5px;
}

.j,
.k {
  width: 100%;
  height: 48%;
  background-color: yellow;
}
