* {
  margin: 0;
  border: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.navbar {
  background-color: #3b5998;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fb-logo {
  width: 30px;
  height: 30px;
}

.first {
  position: relative;
}

.help {
  display: inline-block;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 4%;
}

.search {
  padding: 10px;
  position: relative;
  bottom: 35px;
  left: 16%;
  background-color: #283c68;
}

.return {
  display: inline-block;
  position: relative;
  bottom: 35px;
  left: 18%;
}

a {
  text-decoration: none;
}

.navbar a {
  color: #f3f3f3;
  opacity: 60%;
  font-size: 14px;
  margin-right: 10px;
}

.navbar a:hover {
  color: white;
  opacity: 100%;
}

.questions {
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding-top: 30px;
}

.left {
  display: inline-block;
}

.div-heading {
  font-size: 24px;
}

.left a {
  display: block;
  border: 1px solid #3b5998;
  background-color: #3b5998;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.right {
  display: inline-block;
  width: 49%;
}

.ques-image {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 50px;
}

.ques-links {
  margin-top: 20px;
  margin-bottom: 80px;
}

.popular-topics {
  margin-top: 50px;
}

.popular-topics a {
  color: black;
}

.popular-topics a .popular:hover {
  background-color: #f0f0f0;
}

.popular {
  display: inline-block;
  width: 24%;
  border: 1px solid gray;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
}

.pop-image {
  width: 210px;
  height: 200px;
}

.pop-sub-head {
  font-size: 11px;
  color: rgb(0, 183, 255);
}

span {
  font-size: 12px;
}

.explore {
  margin-top: 100px;
  text-align: center;
}

.footer {
  margin-top: 100px;
}

.footer section {
  display: inline-block;
  width: 24%;
}

.footer span {
  display: block;
}

.footer a {
  display: block;
  color: #a0a0a0;
  font-size: 14px;
  margin: 5px 20px;
}
