.container {
  width: 60%;
  margin: auto;
  padding: 10px 0 10px 0;
}

.main-heading {
  border: 1px solid lightgray;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  background-color: rgb(9, 126, 235);
  color: white;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.form {
  width: 99.5%;
  margin: auto;
  margin-top: 35px;
  border: 1px solid lightgray;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2);
}

h3 {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.my-form {
  width: 60%;
  margin: auto;
}

.form-group {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
}

.a-g {
  display: inline-block;
  margin-right: 15px;
}

.g {
  display: inline;
}

.from,
.to {
  display: inline-block;
}

.from {
  margin-right: 30px;
}

#fname {
  margin-right: 10px;
}

select {
  padding: 10px 80px 10px 10px;
}

.facilities label {
  display: inline;
}

.btn {
  width: 30%;
  margin: auto;
}

input[type="submit"],
input[type="reset"] {
  border: 0;
  background-color: rgba(20, 85, 224, 0.87);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: green;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: red;
  cursor: pointer;
}

.lb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.info {
  width: 95.5%;
  margin: 35px 0 35px 0;
  border: 1px solid lightgray;
  padding: 0 20px 20px 20px;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.contact {
  width: 50%;
  margin: auto;
  text-align: center;
}

section {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: blueviolet;
}
