.container {
  width: 60%;
  margin: auto;
}

.site {
  background-color: rgb(174, 227, 248);
  padding: 20px 10px;
}

h1 {
  margin: 0;
}

.content {
  position: relative;
}

.titles {
  display: inline-block;
  width: 72%;
  background-color: rgb(144, 250, 144);
  margin-right: 0;
  box-sizing: border-box;
}

.title {
  background-color: white;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.module {
  display: inline-block;
  width: 28%;
  background-color: rgb(245, 188, 200);
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding: 0 10px 16px 10px;
}
