.container {
  width: 50%;
  margin: auto;
  font-family: sans-serif;
}

.header {
  margin-bottom: 0;
  box-sizing: border-box;
  position: relative;
}

.image {
  display: inline-block;
}

.heading {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: 55px;
}

.notifications-link {
  width: 30%;
  margin: auto;
  margin-top: 0;
}

.notifications-link a {
  text-decoration: none;
}

.navbar {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.links {
  display: inline-block;
  padding-top: 5px;
  padding-right: 50px;
}

.search {
  display: inline-block;
  position: absolute;
  right: 5px;
}

.search-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  position: relative;
}

.search-img {
  position: absolute;
  left: 5px;
  top: 5px;
}

.content {
  width: 95%;
  margin-top: 20px;
}

.left {
  display: inline-block;
  width: 55%;
}

h2 {
  text-align: center;
}

.left a {
  display: block;
  margin: 10px 0;
}

.left img {
  margin-bottom: 50px;
}

.left a:hover {
  color: blue;
}

.right {
  display: inline-block;
  width: 40%;
}

.address {
  padding-top: 10px;
}

.adrs {
  position: relative;
  bottom: 50px;
}

.icon-1 {
  margin-bottom: 30px;
}

img {
  margin-right: 30px;
}

section {
  margin-bottom: 10px;
}

.icons a {
  text-decoration: none;
}
