* {
  margin: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  border: 3px solid black;
}

body {
  background-color: #a0a0a0;
}

.container,
.sub {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #707070;
  margin-bottom: 50px;
  border-bottom: 3px solid black;
}

.main-heading {
  display: inline-block;
  font-weight: 500;
  width: 19%;
}

.main-links {
  display: inline-block;
  width: 74%;
  margin: auto;
  position: relative;
  bottom: 6px;
}

.links {
  display: flex;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-left: 10%;
}

.links a,
.log-in a {
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 4px 10px;
}

.log-in {
  display: inline-block;
  position: relative;
  bottom: 6px;
}

.links a:hover,
.log-in a:hover {
  background-color: rgb(0, 132, 255);
  color: white;
  border: 0;
}
.sub {
  padding: 100px;
  margin-bottom: 40px;
  background-color: white;
  border: 3px solid black;
}

.sub-head-1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.sub-body {
  font-size: 16px;
  width: 55%;
  margin: auto;
  text-align: center;
}

.sub-2 {
  width: 75%;
  margin: auto;
  height: 500px;
  border: 3px solid black;
  background-color: white;
  position: relative;
}

.sub-2-1 {
  display: inline-block;
  width: 70%;
  height: 100%;
  border-right: 3px solid black;
  padding-left: 15px;
  position: absolute;
}

.sub-2-1-head {
  font-size: 35px;
}

.sub-2-1-body {
  display: grid;
  grid-template-columns: auto auto;
}

.sub-2-1-card {
  padding: 25px 20px;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
}

.sub-text {
  display: inline-block;
  width: 70%;
  position: relative;
  left: 45px;
  box-sizing: border-box;
}

.sub-text-head {
  font-size: 18px;
  font-weight: 500;
}

.sub-2-2 {
  display: inline-block;
  width: 28%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.sub-2-2-contact {
  text-decoration: none;
  border: 2px solid black;
  box-shadow: 3px 5px;
  background-color: #cccccc;
  color: black;
  padding: 5px 30px;
  position: relative;
  left: 20%;
}

.sub-2-2-events {
  font-size: 25px;
  font-weight: 500;
  margin: 40px 0 10px 0;
  text-align: center;
}

.sub-2-2-tour {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.sub-2-2-past {
  width: 80%;
  margin: auto;
  border: 3px solid black;
  box-sizing: border-box;
}

.past-event {
  padding: 4px 5px;
}

.past-event a {
  text-decoration: none;
  color: black;
}

.past-event:hover {
  background-color: #f0f0f0;
}

.footer {
  background-color: white;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 3px solid black;
}

.footer-div {
  display: inline-block;
  width: 11%;
  vertical-align: top;
  margin-right: 15%;
}

.footer-div a {
  display: block;
}

.footer-div-head {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-div img {
  width: 35px;
  height: 30px;
  margin-right: 5px;
}

.social {
  padding-top: 10px;
}

.social a {
  display: inline;
}

.footer-2 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin: 10px 0;
  padding: 10px 0;
  position: relative;
}

.footer-2 a {
  margin-right: 50px;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgb(14, 177, 241);
  color: white;
  cursor: pointer;
}
