.container {
  width: 80%;
  margin: auto;
}

.main-heading {
  text-align: center;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}

.udp {
  text-decoration: none;
  color: rgb(16, 178, 241);
}

h1 {
  font-family: sans-serif;
}

span {
  font-size: 20px;
}

.image {
  width: 550px;
  height: 320px;
}

.footer {
  text-align: center;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
}
