body {
  background-color: #f4f4f4;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20;
  line-height: 1.3em;
}

.container {
  margin: auto;
  width: 30%;
}

#main-heading {
  background-color: rgb(226, 226, 13);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  font-size: large;
  font-weight: 600;
}

.my-form {
  display: table;
  padding: 20px;
  background-color: rgb(196, 196, 23);
}

.my-form .form-group {
  display: table-row;
  margin-left: 50px;
}

label {
  display: table-cell;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: right;
}

#interest {
  padding-bottom: 10px;
}

input {
  display: table-cell;
  margin-left: 20px;
  margin-bottom: 10px;
}

.scroll {
  overflow: auto;
}

#course {
  margin-left: 20px;
  padding: 5px;
}

button {
  margin-left: 173px;
}
