.container {
  width: 50%;
  margin: auto;
}

body {
  font-family: sans-serif;
}

h1 {
  padding-top: 25px;
  text-align: center;
  width: 40%;
}

.main-heading {
  font-size: 50px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 40%;
}

.head {
  width: 90%;
  position: relative;
}

.logo {
  display: inline-block;
  width: 15%;
  background-image: linear-gradient(purple, blueviolet);
  height: 90px;
  background-image: url(../images/logo3.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
}

.content {
  position: relative;
}

.content h2 {
  padding: 20px 0 0 10px;
}

.text {
  display: inline-block;
  width: 60%;
  text-align: justify;
  padding: 0 0 10px 10px;
}

img {
  border-radius: 150px;
  position: absolute;
  right: 10px;
  top: 20%;
}

.image {
  display: inline-block;
  width: 35%;
}
