.container {
  margin: auto;
  width: 50%;
  padding: 0px;
  border: 30px solid rgb(106, 106, 216);
}

h3 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
  color: rgb(106, 106, 216);
  font-size: 30px;
}

.my-form {
  padding: 10px;
  widows: 100%;
}

.form-group {
  display: block;
  box-sizing: border-box;
}

.form-group input {
  width: 45%;
}

input {
  margin: 10px;
  padding: 5px;
}

#dep {
  width: 25%;
  margin-left: 10px;
  padding: 6px;
}

#comment {
  width: 95%;
  padding-bottom: 100px;
  margin-bottom: 0;
}

#hint {
  border: 1px solid grey;
  width: 95%;
  margin-left: 10px;
  padding: 5px 0 10px 10px;
  background-color: rgb(230, 230, 230);
}

#captcha {
  width: 95%;
}

.btn {
  padding: 20px;
  border-top: 1px solid black;
  background-color: rgb(240, 240, 240);
}

#cancel {
  border: 0;
  padding: 10px 15px 10px 15px;
  background-color: rgb(200, 200, 200);
}

#submit {
  border: 0;
  padding: 10px 15px 10px 15px;
  background-color: #ffc200;
}
