.container {
  width: 50%;
  margin: auto;
}

body {
  font-family: sans-serif;
}

h1 {
  padding-top: 25px;
  text-align: center;
  width: 40%;
}

.main-heading {
  font-size: 50px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 40%;
}

.head {
  width: 90%;
  position: relative;
}

.logo {
  display: inline-block;
  width: 15%;
  background-image: linear-gradient(purple, blueviolet);
  height: 90px;
  background-image: url(./images/logo3.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
}

.nav {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  position: relative;
}

.list {
  margin-top: 0;
  list-style-type: none;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
}

li {
  margin-bottom: 50px;
  text-align: justify;
}

.intro {
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
}

.intro h1 {
  margin: auto;
}

.introduction {
  overflow: scroll;
  width: 95%;
  height: 300px;
  text-align: justify;
  padding: 10px;
}
