* {
  margin: 0;
}

.container {
  width: 60%;
  height: 600px;
  margin: auto;
  background-color: #e0e0e0;
  padding: 15px 15px 0 15px;
  margin-top: 15px;
}

.a {
  width: 100%;
  height: 16.5%;
  background-color: red;
}

.b {
  width: 100%;
  height: 16.5%;
  margin-top: 15px;
  padding-right: 0;
}

.c {
  background-color: goldenrod;
  display: inline-block;
  width: 23.45%;
  height: 100%;
}

.c-1,
.c-2,
.c-3 {
  margin-right: 15px;
}

.c-4 {
  padding-left: 0;
}

.d {
  width: 100%;
  height: 40%;
  margin: 10px;
  position: relative;
  margin-left: 0;
  margin-top: 15px;
}

.e {
  display: inline-block;
  width: 49%;
  height: 100%;
  background-color: rgb(58, 58, 241);
  margin-right: 15px;
}

.f {
  display: inline-block;
  width: 49%;
  height: 100%;
  position: absolute;
  right: 10px;
}

.g {
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
  margin-left: 10px;
}

.h {
  display: inline-block;
  width: 49%;
  height: 97%;
  background-color: blueviolet;
}

.h-1 {
  margin-right: 5px;
}

.i {
  width: 100%;
  height: 16.5%;
  background-color: red;
  margin-top: 15px;
  margin-bottom: 0;
}
