.container {
  margin: auto;
  width: 50%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid lightgray;
}

th,
td {
  padding: 10px;
}

th {
  background-color: lightslategray;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

tr:hover {
  background-color: #f5f5f5;
}
